form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  border: 2px solid black;
  padding: 5px;
}

form h2 {
  text-align: center;
  margin: 20px 0 5px;
}

form input {
  padding: 5px;
}

form input::placeholder {
  text-transform: capitalize;
}

form button {
  font-size: 0.8em;
  padding: 10px;

  text-transform: uppercase;
  letter-spacing: 0.1em;
}